<app-navigation></app-navigation>
<form class="form-margin-top-bottom">
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Пользователь</th>
    <th scope="col">Цена</th>
    <th scope="col">Дата доставки</th>
    <th scope="col">Статус заказа</th>
    <th scope="col">Подтверждение</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>@mdo</td>
    <td><input class="btn btn-primary" type="submit" value="Подтвердить"></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@TwBootstrap</td>
    <td>@TwBootstrap</td>
    <td><input class="btn btn-primary" type="submit" value="Подтвердить"></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@fat</td>
    <td><input class="btn btn-primary" type="submit" value="Подтвердить"></td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@fat</td>
    <td><input class="btn btn-primary" type="submit" value="Подтвердить"></td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@fat</td>
    <td><input class="btn btn-primary" type="submit" value="Подтвердить"></td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@fat</td>
    <td><input class="btn btn-primary" type="submit" value="Подтвердить"></td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@fat</td>
    <td><input class="btn btn-primary" type="submit" value="Подтвердить"></td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@fat</td>
    <td><input class="btn btn-primary" type="submit" value="Подтвердить"></td>
  </tr>
  <tr>
    <th scope="row">9</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@fat</td>
    <td><input class="btn btn-primary" type="submit" value="Подтвердить"></td>
  </tr>
  <tr>
    <th scope="row">10</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>@fat</td>
    <td><input class="btn btn-primary" type="submit" value="Подтвердить"></td>
  </tr>
  </tbody>
</table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</form>
<app-footer></app-footer>
