<app-navigation></app-navigation>
<form class="form-margin-top-bottom bg-light">
  <div class="form-row ">
    <div class="form-group col-md-2 offset-md-3">
      <p>Создать точку маршрута</p>
    </div>
    <div class="form-group col-md-2">
      <label for="inputNamepoint">Название точки</label>
      <input type="text" class="form-control" id="inputNamepoint" placeholder="Название"  [(ngModel)]="point.name"
             name="pointName" [ngClass]="{ 'is-invalid': pointExists}" autocomplete="off">
      <div *ngIf="pointExists && pointNameSubmitted" class="text-danger">Такая точка уже существует</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2 offset-md-3" >
      <button type="submit" class="btn btn-primary" (click)="createPoint()">Создать</button>
    </div>
  </div>

  <!--  gray divider-->
  <div class="form-row">
    <div class="form-group col-md-6 offset-md-3">
      <hr>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2 offset-md-3">
      <p>Создать отрезок</p>
    </div>
    <div class="form-group col-md-2">
      <label for="inputFirstpoint">Начальная точнка</label>
      <select id="inputFirstpoint" class="form-control" name="startPoint">
        <option *ngFor="let point of points">{{point.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputSecondpoint">Конечная точка</label>
      <select id="inputSecondpoint" class="form-control" name="endPoint">
        <option *ngFor="let point of points">{{point.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-row ">
    <div class="form-group col-md-2 offset-md-3">
      <label for="inputDistance">Растояние (в км.)</label>
      <input type="text" class="form-control" id="inputDistance" placeholder="Растояние"
             [(ngModel)]="segment.distance" name="distance">
    </div>
    <div class="form-group col-md-2">
      <label for="inputVihicletype">Тип транспорта</label>
      <select id="inputVihicletype" class="form-control">
        <option selected>Выберите...</option>
        <option>...</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2 offset-md-3" >
      <button type="submit" class="btn btn-primary" (click)="createSegment()">Создать</button>
    </div>
  </div>

  <!--  gray divider-->
  <div class="form-row">
    <div class="form-group col-md-6 offset-md-3">
      <hr>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2 offset-md-3">
      <p>Создание маршрута</p>
    </div>
    <div class="form-group col-mb-2">
      <label for="inputSegmentnumber">Количество отрезков</label>
      <input type="text" id="inputSegmentnumber" class="form-control" placeholder="Количество отрезков">
    </div>
    <div class="form-group col-md-1">
      <label for="inputSegment1">Отрезок 1</label>
      <select id="inputSegment1" class="form-control">
        <option selected>Выберите...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-1">
      <label for="inputSegment2">Отрезок 2</label>
      <select id="inputSegment2" class="form-control">
        <option selected>Выберите...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-1">
      <label for="inputSegment3">Отрезок 3</label>
      <select id="inputSegment3" class="form-control">
        <option selected>Выберите...</option>
        <option>...</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2 offset-md-3" >
      <button type="submit" class="btn btn-primary" >Создать</button>
    </div>
  </div>

</form>
<app-footer></app-footer>
