<app-navigation></app-navigation>
<form class="form-margin-top-bottom">
<div class="container-fluid mt-3">
  <h4>Транспортные тарифы</h4>
</div>
<table class="table table-hover mt-3 mb-5">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Название</th>
    <th scope="col">Тип транспорта</th>
    <th scope="col">Максимальный объем</th>
    <th scope="col">Максимальный вес</th>
    <th scope="col">Цена за час</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row"></th>
    <td>
      <div class="form-group">
        <input type="text" class="form-control" id="tariff" autocomplete="off" name="tariff" [(ngModel)]="newOffer.offer.name">
      </div>
    </td>
    <td>
      <div class="form-group">
        <select id="inputVihicletype" class="form-control" [(ngModel)]="segment.transport" name="transport">
          <option *ngFor="let transport of transports" [ngValue]="transport">
            {{transport.transportType.name.charAt(0).toUpperCase()+
          transport.transportType.name.slice(1)}} - {{transport.name}}</option>
        </select>
      </div>
    </td>
    <td>
      <div class="form-group">
        <input type="text" class="form-control" id="maxvalue" autocomplete="off" name="tariff" [(ngModel)]="newOffer.offer.name">
      </div>
    </td>
    <td>
      <div class="form-group">
        <input type="text" class="form-control" id="maxweight" autocomplete="off" name="tariff" [(ngModel)]="newOffer.offer.name">
      </div>
    </td>
    <td>
      <input type="text" class="form-control" id="costperhour" autocomplete="off" name="tariff" [(ngModel)]="newOffer.offer.name">
    </td>
    <td>
      <button class="btn btn-main" (click)="createOffer()">Создать</button>
    </td>
  </tr>
  <tr *ngFor="let offer of offers, let i = index" [ngClass]="{'text-muted' : offer.offer.offerStatus.id == '2'}">
    <th scope="row" [ngClass]="{'text-danger' : offer.offer.offerStatus.id == '2'}">{{i + 1}}</th>
    <td [ngClass]="{'text-danger' : offer.offer.offerStatus.id == '2'}">{{offer.offer.name}}</td>
    <td>
      <p class="d-inline">{{offer.internetSpeed.value}}&nbsp;</p>
      <p class="d-inline" *ngIf="offer.internetSpeed.valueMeasure.id != 4">{{offer.internetSpeed.valueMeasure.measurement}}</p>
    </td>
    <td>
      <ul>
        <li>{{offer.internetEquipment1.value}}</li>
        <li>{{offer.internetEquipment2.value}}</li>
      </ul>
    </td>
    <td>{{offer.internetSoft1.value}}</td>
    <td>{{offer.internetSoft2.value}}</td>
    <td>{{offer.offer.description}}</td>
    <td>{{offer.offer.price}} руб./мес.</td>
    <td>
      <button class="btn btn-main"
              *ngIf="offer.offer.offerStatus.id == '2'" (click)="setOfferStatus(offer.offer.id, '1')">Разблокировать</button>
      <button class="btn btn-link"
              *ngIf="offer.offer.offerStatus.id == '1'" (click)="setOfferStatus(offer.offer.id, '2')">Заблокировать</button>
    </td>
  </tr>
  </tbody>
</table>
</form>
<app-footer></app-footer>
