<app-navigation></app-navigation>
<form class="form-margin-top-bottom">
  <div class="container-fluid mt-3" [ngSwitch]="transportTypeId">
    <h4 *ngSwitchCase="'1'">Транспортные тарифы кораблей</h4>
    <h4 *ngSwitchCase="'2'">Транспортные тарифы автомобилей</h4>
    <h4 *ngSwitchCase="'3'">Транспортные тарифы самолетов</h4>
  </div>
  <table class="table table-hover mt-3 mb-5">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Тип транспорта</th>
      <th scope="col">Максимальный объем (см3.)</th>
      <th scope="col">Максимальный вес (кг.)</th>
      <th scope="col">Скорость (км\ч.)</th>
      <th scope="col">Цена</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transport of transports, let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{transport.name}}</td>
      <td [ngSwitch]="transport.transportType.name">
        <p *ngSwitchCase="'car'">Машина</p>
        <p *ngSwitchCase="'ship'">Корабль</p>
        <p *ngSwitchCase="'airplane'">Самолет</p>
      </td>
      <td>{{transport.maxValue}} см3.</td>
      <td>{{transport.maxWeight}} кг.</td>
      <td>{{transport.speed}} км\ч.</td>
      <td>{{transport.costPerHour}} $</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</form>
<app-footer></app-footer>
