<app-navigation></app-navigation>
<form class="form-margin-top-bottom">
  <div class="form-row justify-content-center"  name="selected"
       *ngFor="let route of alternativeRoutes, let i = index">
    <div class="form-check form-group col-md-1">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" (change)="onChange($event)" [value]="route.route.id" name="optradio">Путь {{i + 1}}
      </label>
    </div>
    <div class="form-group col-md-1">
      <p>{{route.route.startPoint.name}}-{{route.route.endPoint.name}}</p>
    </div>
    <div class="form-group col-md-1">
      <p>{{route.deliveryTime}} д.</p>
    </div>
    <div class="form-group col-md-1">
      <p>{{route.price}}$</p>
    </div>
  </div>

  <div class="form-row justify-content-center" *ngIf="alternativeRoutes == undefined">
    <h4>Нет путей по которым можно доставить ваш груз!</h4>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 offset-md-3">
      <hr>
    </div>
  </div>

  <!-- Button trigger modal -->

  <div class="form-row" *ngIf="alternativeRoutes != undefined">
    <div class="from-group col-md-2 offset-md-4">
      <button type="button" class="btn btn-primary col-8" (click)="onSelect()">Выбрать</button>
    </div>
  </div>

  <!-- Modal -->

  <div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="modalPaymentLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalPaymentLabel">Окно оплаты</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label>Полное имя (на карте)</label>
            <input type="text" name="username" placeholder="Ivan Ivanov" class="form-control" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md">
              <label>Номер карты</label>
              <input type="text" name="cardNumber" placeholder="Ваш номер карты" class="form-control" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label><span class="hidden-xs">Дата действительности</span></label>
                <div class="input-group">
                  <input type="text" placeholder="MM" name="" class="form-control" maxlength="2" pattern="\d{2}"
                         required>
                  <input type="text" placeholder="YY" name="" class="form-control" maxlength="2" pattern="\d{2}"
                         required>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label>CVС
                </label>
                <input type="text" required class="form-control" maxlength="3" pattern="\d{3}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onPaid()">Оплатить</button>
        </div>

      </div>
    </div>
  </div>

</form>
<app-footer></app-footer>
