<app-navigation></app-navigation>
<form class="form-margin-top-bottom bg-light">
  <div class="form-row justify-content-md-center">
    <div class="form-group col-md-2">
      <label for="inputLength">Длина</label>
      <input type="number" class="form-control" id="inputLength" placeholder="Длина">
    </div>
    <div class="form-group col-md-2">
      <label for="inputWidth">Ширина</label>
      <input type="number" class="form-control" id="inputWidth" placeholder="Ширина">
    </div>
    <div class="form-group col-md-2">
      <label for="inputHeight">Высота</label>
      <input type="number" class="form-control" id="inputHeight" placeholder="Высота">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2 offset-md-3">
      <label for="inputWeight">Вес</label>
      <input type="number" class="form-control" id="inputWeight" placeholder="Вес">
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-3">
      <label for="inputDeparture">Место отправки</label>
      <select id="inputDeparture" class="form-control">
        <option selected>Выберите...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputDelivery">Место доставки</label>
      <select id="inputDelivery" class="form-control">
        <option selected>Выберите...</option>
        <option>...</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2 offset-md-3">
      <label for="inputDataDelivery">Дата доставки</label>
      <input type="date" id="inputDataDelivery" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 offset-md-3">
      <hr>
    </div>
  </div>
  <div class="form-row">
    <div class="from-group col-md-3 offset-md-3">
      <button type="submit" class="btn btn-primary col-8">Подтвердить</button>
    </div>
  </div>
</form>
<app-footer></app-footer>
