<app-navigation></app-navigation>
<header class="bg-primary py-5 mb-5 header-home" id="header-home">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-5 text-white mt-5 mb-2">ПРЕДОСТАВЛЕНИЕ УСЛУГ ПЕРВОГО КЛАССА</h1>
        <p class="lead mb-5 text-white"> Логистика и транспорт для требовательных клиентов.
                У вас есть груз? У нас есть транспорт!</p>
      </div>
    </div>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Что мы предлагаем</h2>
      <hr>
      <p>Сочетая новейшие логистические технологии с качественным сервисом, и способность предлагать индивидуальные решения.
        Наши глобальные логистические услуги идеально подходят для клиентов стремящихся развивать свой бизнес.</p>
      <p>Мы с энтузиазмом работаем над тем, чтобы обеспечить отличное качество обслуживания клиентов и высококачественные услуги, а также обеспечить стабильные поставки для потребителей по всему миру.</p>
      <a class="btn btn-primary btn-lg">Нажмите чтобы узнать больше</a>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Свяжитесь с нами</h2>
      <hr>
      <address>
        <strong>IDGcompany</strong>
        <br>Улица Пушкина
        <br>Дом Колотушкина
        <br>
      </address>
      <address>
        <abbr title="Телефон">Т:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">IDGcompany@gmail.com</a>
      </address>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/truck.jpeg" alt="">
        <div class="card-body">
          <h4 class="card-title">НАЗЕМНАЯ ПЕРЕВОЗКА ГРУЗОВ</h4>
          <p class="card-text">Мы имеем большой опыт в специализированных логистических решениях для сухопутной промышленности, таких как фармацевтическая логистика, розничная и автомобильная логистика.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Узнать больше!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/ship.jpeg" alt="">
        <div class="card-body">
          <h4 class="card-title">МОРСКИЕ ПЕРЕВОЗКИ</h4>
          <p class="card-text">Мы доставим ваши товары в безопасное место по всему миру с нашими отличными морскими услугами. Мы предлагаем быстрые и эффективные поставки без задержек.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Узнать больше!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/img/plane.jpeg" alt="">
        <div class="card-body">
          <h4 class="card-title">МЕЖДУНАРОДНЫЕ ВОЗДУШНЫЕ ГРУЗЫ</h4>
          <p class="card-text">Мы предоставляем полный пакет управления цепочками поставок, включая экономичные и быстрые морские перевозки. Вы также можете комбинировать этот пакет с другими видами транспорта.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Узнать больше!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<app-footer></app-footer>
