<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="">IDGcompany</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orderform" >Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row col-1 mr-4" *ngIf="auth.user != null">
    <div class="row dropdown" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img class="mr-3 mt-auto rounded-circle" src="/assets/img/avatar.png" alt="" style="height: 35px">
      <p class="text-white mb-auto mt-auto ml-1" style="margin-bottom: 0; cursor: default">{{auth.user.name}}</p>
    </div>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" routerLink="/profile">Профиль</button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" type="button" *ngIf="auth.user.role.name == 'admin'">Пользователи</button>
      <button class="dropdown-item" type="button"  routerLink="/carriers"
        *ngIf="auth.user.role.name == 'admin'">Перевозчики</button>
      <button class="dropdown-item" type="button"
        routerLink="/employees" *ngIf="auth.user.role.name == 'admin'">Работники</button>
      <button class="dropdown-item" type="button" *ngIf="auth.user.role.name == 'admin'">Администраторы</button>
      <button class="dropdown-item" type="button" *ngIf="auth.user.role.name == 'employee'"
              routerLink="/createroute" name="routes">Пути</button>
      <button class="dropdown-item" type="button" *ngIf="auth.user.role.name == 'employee'"
              routerLink="/tables" name="requests">Заявки</button>


      <div class="dropdown-divider"></div>
      <button class="dropdown-item" type="button" (click)="logOut()">Выйти</button>
    </div>
  </div>
  <button type="button" class="btn btn-outline-primary mr-3" data-toggle="modal"  data-target="#modalLogin" *ngIf="auth.user == null">Войти</button>
</nav>


<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLoginlabel">Окно входа</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body justify-content-center">
        <div class="form-group">
          <label for="login">Логин</label>
          <input type="text" name="login" id="login" class="form-control input-sm" placeholder="Введите логин" #login="ngModel"
            [(ngModel)]="loginUser.login" required minlength="4" autocomplete="off">
          <small [hidden]="login.valid || login.untouched" class="text-danger">Логин не верный</small>
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Введите пароль"
            [(ngModel)]="loginUser.password" required minlength="4" #password="ngModel">
          <small [hidden]="password.valid || password.untouched" class="text-danger">Пароль не верный</small>
        </div>
        <div class="container-fluid justify-content-center d-flex mb-3">
          <button type="submit" class="btn btn-primary col-6" (click)="onSubmit()">Войти</button>
        </div>
        <button data-dismiss="modal" class="btn btn-link" (click)="register('client')">Еще не зарегестрированы? Пройдите быструю регистрацию</button>
      </div>
    </div>
  </div>
</div>
