<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="">IDGcompany</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="getAllRoles()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orderform" >Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tables" >Tables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/createroute" >Create route</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row col-1 mr-4">
    <div class="row dropdown" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img class="mr-3 mt-auto rounded-circle" src="/assets/img/avatar.png" alt="" style="height: 35px">
      <p class="text-white mb-auto mt-auto ml-1" style="margin-bottom: 0; cursor: default">User</p>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" routerLink="/profile">Profile</button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" type="button">Companies</button>
      <button class="dropdown-item" type="button">New Admin</button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" type="button">Log out</button>
    </div>

    <button type="button" class="btn btn-outline-primary mr-3" data-toggle="modal"  data-target="#modalLogin">Sign In</button>
  </div>
</nav>
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginlabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLoginlabel">Окно входа</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="email" name="email" id="login" class="form-control input-sm" placeholder="Логин">
        </div>
        <div class="form-group">
          <input type="email" name="email" id="password" class="form-control input-sm" placeholder="Пароль">
        </div>
        <p><a routerLink="/registration">Еще не зареганы? Пиздуйте регаться быстро</a> </p>
        <input type="submit" value="Регистрация" class="btn btn-info btn-block">
      </div>
    </div>
  </div>
</div>
