<app-navigation></app-navigation>
<form class="form-margin-top-bottom">
  <div class="form-row justify-content-center" >
      <div class="form-group col-md-2">
        <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Имя">
      </div>
      <div class="form-group col-md-2">
        <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Фамилия">
      </div>

  </div>
    <div class="form-row">
      <div class="form-group col-md-4 offset-md-4">
        <input type="text" name="login" id="login" class="form-control input-sm" placeholder="Логин">
      </div>
    </div>
  <div class="form-row">
    <div class="form-group col-md-4 offset-md-4">
      <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email">
    </div>
  </div>

  <div class="form-row justify-content-center">
      <div class="form-group col-md-2">
        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Пароль">
      </div>
      <div class="form-group col-md-2">
        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Подтверить пароль">
      </div>
  </div>

  <div class="form-row">
    <div class="from-group col-md-2 offset-md-4">
      <button type="submit" class="btn btn-primary col-8">Регистрация</button>
    </div>
  </div>

</form>
<app-footer></app-footer>
